h2{
    text-align: center;
}
.myform
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
input
{
    width: 700px;
    margin-top: 20px;
    height: 40px;
    border: 2px solid black;
    border-radius: 12px;
}
input::placeholder
{
    text-align: center;
    font-size: 20px;
}
.btn
{
    margin-top: 20px;
    width: 10%;
    height: 40px;
    border-radius: 12px;
    font-size: 20px;
    border: 2px solid black;
}
.btn:hover
{
    background-color: black;
    color: white;
}